.column {
  margin: 0 10px;
}


body {
  font-family: Helvetica;
  font-size: 18px;
}

h1 {
  font-size: 2em; 
  font-weight: normal;
  margin: 0 auto 30px auto;
}

h2 {
  padding-bottom: 36px;
  font-size: 1.5em;
}

input {
  width: auto;
  height: 40px;
  padding: 13px;
  font-size: 1.2em;
  border: 2px solid #2e67b2;
  border-radius: 5px;
  box-sizing: border-box;
}

input#email { width: 100%; }

section {
  padding: 36px;
  border-left: 3px solid #cdcccb;
  width: 100%;
  box-sizing: border-box;
  background-color: #ececec;
  margin: 0 10px 3px 0;
}

section p {
  position: absolute;
  top: 45px;
  left: 59px;
}

section:nth-of-type(5) {
  position: relative;
}

section button {
  height: 47px;
  width: 176px;
  background-color: #6095cb;
  border: none;
  font-weight: normal;
  font-size: 0.9em;
  border-radius: 4px;
  color: #ffffff;
}

section button:hover {
  background-color: #2e67b2;
}


section button {
  display: block;
}

section dt {
  font-weight: bold;
  padding-bottom: 1.2em;
}

section#social_media_accounts input,
section#account_info input {
  width: 80%;
}

section input {
  margin-bottom: 1.2em;
}

section input:not([type="checkbox"]) {
  height: 59px;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 2px solid #2e67b2;
  border-radius: 5px;
}

.third {
  width: 33%;
  float: left;
}

#first_name, #last_name {
  width: 49.7%;
}

.clearfix:after {
  content: "";
  display: block;
  clear:both;
}
