article {
  width: 680px;
  border: 2px solid black; 
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
  font-family: Helvetica, Arial sans-serif;
}

h1 {
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header p {
  font-size: 28px;
  margin: 0px;
}

header p:nth-of-type(2) {
  padding-bottom: 5px;
  border-bottom: 30px solid black;
}

header h2 {
  margin-top: 10px;
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

header dl {
  display: inline-block;
  font-size: 28px;
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 5px;
}

header {
  border-bottom: 15px solid black;
}

header dl dd {
  margin-left: 0;
}

header dl:nth-of-type(1) dt {
  font-weight: bold;
}

header dl:nth-of-type(2) {
  float:right;
  vertical-align:top;
}

header dl dt,
header dl dd {
  display: inline-block;
}

thead th:nth-of-type(1) {
  font-size: 28px;
  text-align: right;
  padding: 9px 0 1px 0;
  border-bottom: 1px solid black;
}


sup {
  vertical-align: 3px;
  margin-right: -1px;
}

tbody tr dl dt,
tbody tr dl dd {
  display: inline-block;
}

tbody tr dl dt {
  text-align: left;
}

tbody {
  font-size: 28px;
}

tbody tr dl {
  margin: 0px;
  text-align: left;
}

tbody tr dl dd { margin-left: 0px; }

table { 
  border-collapse: collapse; 
}

table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(4) td:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(5) td:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(5) td:nth-of-type(1), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(6) td, 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(7) td:nth-of-type(2) {
  text-align: right;
  font-weight: bold;
}

table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1) dt, 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(4) td:nth-of-type(1) dt, 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(5) td:nth-of-type(1) dt, 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(9) td:nth-of-type(1) dt {
  font-weight: bold;
}

table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(3) td:nth-of-type(1), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(7) td:nth-of-type(1), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(8) td:nth-of-type(1) {
  padding-left:30px;
}

table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(1) td:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(2) td:nth-of-type(2),
table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(3) td:nth-of-type(2),
table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(4) td:nth-of-type(2) {
  text-align: right;
}


table:nth-of-type(2) {
	width: 100%;
	font-size: 22px;
}


table:nth-of-type(2) tbody {
	font-size: 22px;
}

table:nth-of-type(2) tbody tr:nth-of-type(2) td:nth-of-type(1), 
table:nth-of-type(2) tbody tr:nth-of-type(6) td:nth-of-type(1) {
	padding-left: 33px;
}

table:nth-of-type(2) tbody td:nth-of-type(2) {
	padding-right: 5px;
}


table:nth-of-type(1) tr:nth-of-type(2) dl, 
table:nth-of-type(1) tr:nth-of-type(3) dl,
table:nth-of-type(1) tr:nth-of-type(7) dl, 
table:nth-of-type(1) tr:nth-of-type(8) dl,
table:nth-of-type(1) tr:nth-of-type(4),
table:nth-of-type(1) tr:nth-of-type(5),
table:nth-of-type(1) tr:nth-of-type(6),
table:nth-of-type(1) tr:nth-of-type(5),
table:nth-of-type(1) tr:nth-of-type(9),
table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(2),
table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(3) {
	border-top: 1px solid black;
}

table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(1) {
	border-top: 20px solid black;
}

table:nth-of-type(1) tbody:nth-of-type(2) tr:nth-of-type(4) {
	border-bottom: 1px solid black;
}

table {
	width: 100%;
}

table tfoot td {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

table tfoot {
	font-size: 25px;
}

table:nth-of-type(2) thead {
	border-bottom: 1px solid black;
}

table:nth-of-type(2) thead, table:nth-of-type(2) tbody {
    font-size: 23px;
}

table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(2) dl dd:nth-of-type(2), 
table:nth-of-type(1) tbody:nth-of-type(1) tr:nth-of-type(7) dl dd:nth-of-type(2) {

	float: right;	
	font-weight: bold;
}
