<form method="post" action="/create">
  <h3>Add a new document:</h3>
  <input name="content_name" placeholder="File Name" type="submit"></input>
  <textarea name="content"></textarea><button type="submit">New Document</button>
</form>
