
<form method="post" action="/new">
  <h3>Add a new document:</h3>
  <textarea name="content_name" placeholder="File Name" type="submit"></textarea>
  <textarea name="content"></textarea><button type="submit">New Document</button>
</form>